* {
  margin: 0;
  scroll-behavior: smooth;
}

/* Overriding CSS for overlay-navbar */
.menuBurger {
  height: 4.3vmax !important;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}
